/**
 * Base styles.
 * Provides sensible defaults for everything to save you time. Override
 * with an empty stylesheet to start over from scratch.
 */
 
input,
select,
textarea,
body { 
  font-family: 'Lucida Grande', Arial, sans-serif;
  color: #333;
}



/**
 * Skip navigation ====================================================
 */
.skip-link {
  position:absolute;
  display:block;
  }

.skip-link a,
.skip-link a:link,
.skip-link a:visited {
  position:absolute;
  display:block;
  left:-10000px;
  width:1px;
  height:1px;
  }

.skip-link a:hover,
.skip-link a:active,
.skip-link a:focus {
  position:static;
  width:auto;
  height:auto;
  }

.main-menu, .secondary-menu {
  margin: 0;
  padding: 0;
}

/**
 * Links ==============================================================
 *
 * Any ul.links are given a horizontal tab-like formatting.
 */
ul.links li, ul.tabs li,
ul.links li a, ul.tabs li a { float:left; }

ul.links.inline,
ul.links.inline li,
ul.links.inline li a {
  float:none;
  display:inline;
}
  
.links li a, .tabs li a {
  text-decoration: none;
  color: #333;
}



/**
 * Content Typography ==============================================================
 *
 */
 
 
 
#content .node { line-height: 1.475em; }

.node p, .view p,
.node ul, .view ul,
.node ol, .view ol,
.node dl, .view dl,
.node pre, .view pre,
.node div.codeblock, .view div.codeblock,
.node blockquote, .view blockquote,
.node address, .view address
{ 
  margin: 0px 0px 1.475em; 
/*   margin: 0px 0px .875em;  */
}

/* Views displaying body content */
.view p,
.view ul,
.view ol,
.view dl,
.view pre,
.view div.codeblock,
.view blockquote
{ 
  margin: 0px 0px 1.475em; 
/*   margin: 0px 0px .875em;  */
}

.node h1,
.node h2,
.node h3,
.node h4,
.node h5,
.node h6 { 
  font-weight:bold;
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { 
  color: inherit;
  text-decoration: none;
}

.node pre,
.node code,
.node div.codeblock {
  font-family: monospace;
  }

.node pre,
.node blockquote,
.node div.codeblock {
  line-height:1.475em;
  background:#f8f8f8;
  padding:0.3em 0.6em;
  border:1px solid #eee;
  border-left: 0.3em solid #eee;
  }

.node ol li,
.node ul li {
  display:list-item;
  margin:0px 0px 0px 20px;
  padding:0px;
  }

.node ol, .node ol li {
  list-style: decimal;
  }

.node ol ol, .node ol ol li {
  list-style: lower-latin;
  }

.node ol ol ol, .node ol ol ol li {
  list-style: lower-roman;
  }
  
.node dt {
  font-weight: bold;
}

.node ol li { list-style:decimal; }

.node ul li { list-style:disc; }

.node img { display:block; }

/* Excluding Drupal structures */
.node .links,
.node .links li,
.node .item-list ul,
.node .item-list li,
.item-list ul li {
  margin:0px;
  padding:0px;
  list-style:none;
  }

/* Testing in styleguide */

div.styleguide { line-height: 1.375em; }

div.styleguide p,
div.styleguide ul,
div.styleguide ol,
div.styleguide pre,
div.styleguide div.codeblock,
div.styleguide blockquote { margin: 0px 0px 1.375em; }

div.styleguide h1,
div.styleguide h2,
div.styleguide h3,
div.styleguide h4,
div.styleguide h5,
div.styleguide h6 { 
  margin: 0;
  font-weight:bold; 
}

div.styleguide pre,
div.styleguide code,
div.styleguide div.codeblock {
  font-family: monospace;
  }

div.styleguide pre,
div.styleguide blockquote,
div.styleguide div.codeblock {
  line-height:1.375em;
  background:#f8f8f8;
  padding:4px 9px;
  border:1px solid #eee;
  border-left:5px solid #eee;
  }

div.styleguide ol li,
div.styleguide ul li {
  display:list-item;
  margin:0px 0px 0px 30px;
  padding:0px;
  }

div.styleguide ol li { list-style:decimal; }

div.styleguide ul li { list-style:disc; }

div.styleguide img { display:block; }



/**
 * Tables =============================================================
 */
table {
  width: 100%;
  margin: 0 0 20px;
  border-collapse: collapse;
  }
  
th, td {
  padding: 0.3em 0.6em;
}

thead {
  background-color: #777;
  color: #fff;
}

thead th {
  border-bottom: none;
}

th, td { vertical-align: top; }

/* system.theme.css stripes rows with solid colour. We don't want that. */

tr.even, tr.odd {
  background-color: transparent;
}

/**
 * Forms ==============================================================
 */
input.form-text,
select,
textarea { border:1px solid #ccc; }

input.form-submit,
label { font-weight:bold; }

input.form-submit { cursor:pointer; }

input.form-radio,
input.form-checkbox { vertical-align:middle; }

.form-item .description,
.description {
  color:#666;
/*   font-size:11px; */
  }

fieldset.collapsible .fieldset-title { cursor:pointer; }
html.js fieldset.collapsed .fieldset-content { display:none; }

/**
 * Views ==============================================================
 */
table.grid-2 td { width:50%; }
table.grid-3 td { width:33.3%; }
table.grid-4 td { width:25%; }
table.grid-5 td { width:20%; }
table.grid-6 td { width:16.6%; }
table.grid-7 td { width:14.2%; }
table.grid-8 td { width:12.5%; }

/**
 * Buttons style from the elegant 'seven' theme
 *
 */


a.button:hover,
input.form-submit:hover,
input.teaser-button:hover,
input[type=button]:hover,
input#edit-preview:hover,
input#edit-delete:hover {
  color: #000;
}

a.button:active,
input.form-submit:active,
input.teaser-button:active,
input[type=button]:active,
input#edit-preview:active,
input#edit-delete:active {
  color: #000;
  position: relative;
}

input[disabled]:hover {
  background-color: #ededed;
  color: #666;

}

input.form-submit,
a.button {
  cursor: pointer;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  background: #bbb;
}

a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 0.2em;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}


/* Local tasks tabs */

.tabs {
  background-color: transparent;
}

.tabs ul.primary {
  padding: 0.6em 0.6em 0;
  margin-bottom: 0.6emx;
  background-color: rgba(220,220,220, 0.7);
}


.tabs ul.primary li {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1px 0.4em 0.2em;
  margin: 0.3em 0.2em 0 0;
  border: 1px solid #cdcdcd;
  border-bottom: 1px solid #aaa;
  margin-bottom: -1px;
  font-size: 0.8em;
  font-weight: bold;
}

.tabs ul.primary a {
  color: #333;
}


.tabs ul.primary li.active {
  background-color: rgba(254,254,254, 0.7);
}

.tabs ul.primary li.active a {
  background-color: transparent;
}

.tabs ul.primary li:hover {
  background-color: #555;
  color: #eee;
}

.tabs ul.primary li:hover a {
  color: #eee;
}

.tabs ul.primary li.active:hover {
  background-color: #fff;
}

.tabs ul.primary li.active:hover a {
  color: #222;
}

.tabs ul.secondary li {
  margin: 0.3em 0.6em;
  background-color: #cdcdcd;
  padding: 0.2em;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 0.4em;
  border: 1px solid #cdcdcd;
}

/* tabs keyline */

.tabs ul.primary li {
  border: 1px solid #cdcdcd;
  margin-bottom: -1px;
}

.tabs ul.primary, .tabs ul.primary li {
  border-bottom: 1px solid #aaa;
}

.tabs ul.primary li.active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #fff;
}



/*line up form checkboxes horizontally for selected forms*/
/*

#user-register .form-checkboxes .form-item,
#node-form .form-checkboxes .form-item {
  width: 180px;
  float: left;
  clear: none;
}

.description {
  clear: left;
}

#user-register .form-checkboxes, 
#node-form .form-checkboxes {
  overflow: auto;
}
*/

/* Use standard image classes  */

p img {
	padding: 0;
	max-width: 100%;
	}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}

/**
 * If tinymce uses this theme it will attempt to fill 
 * the body of the text editor with the body 
 * background values - must override! 
 */
 
body#tinymce {
  background-color: #efefef !important;
  background-image: none !important;
}


/* Messages */

.message-wrapper {
  padding: 10px 0;
  margin-left: 10px;
  margin-right: 10px;
}

div.status {
  background-color: #CDFFD1;
  border: 0;
}

div.help {
  background-color: #D2D9FF;
}

div.notice {
  background-color: #FFFDB5;
}

div.error {
  background-color: #FCC;
  border: none;
}

tr.error {
  background-color: #FCC;
  color: #333;
}

div.messages, div.status, div.warning, div.notice, div.help, div.error {
  border: 0;
}


/**
 * @file
 * Form styles.
 */

/* General */

.description {
  color: #999;
}

/* Fieldsets */

fieldset .fieldset-legend {
  text-transform: uppercase;
  font-size: 0.85em;
  margin-top: 1em;
  padding-left: 1em;
  position: absolute;
  top: 0;
}

legend {
  font-weight: bold;
}

fieldset {
  border: 1px solid #ccc;
  padding: 3em 0 0;
  position: relative;
  margin: 1em 0;
}

fieldset .fieldset-wrapper {
  padding: 0 1em 0.6em;
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

fieldset.collapsed {
  background-color: transparent;
}

a.fieldset-title {
  text-decoration: none;
  vertical-align: middle;
}


/* Menus */

.menu {
  padding: 0;
}

.menu li a {
  text-decoration: none;
}

/* contextual menus */

body .contextual-links, body .contextual-links li {
  font-size: 0.9rem; /* size shouldn't be inherited */
  font-weight: normal;
  background-color: #fff;
  color: #000;
}

/* Search Block */

#search-block-form {
	border: 0.1em solid #aaa;
	background-color: #fff;
	padding: 0;
	border-radius: 1em;
  width: 13em;
}

#search-block-form input {
	border: 0;
	display: inline;
	padding: 0.1em 0.3em;
	height: 1.6em;
	line-height: 1.6em;
	margin: 0;
	vertical-align: middle;
}

#search-block-form, #search-block-form input {
	background-color: #fff;
}


#search-block-form .form-text {
	width: 9em;
	margin-left: 0.7em;
	color: #aaaaaa;
}


#search-block-form .form-submit {
  background-image: none;
  background-color: transparent;
  height: 1.6em;
  width: auto;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#search-block-form .form-submit:hover {
  background-image: none;
  background-color: transparent;
}

#search-block-form .form-submit:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  top: 0;
  left: 0;
}

.footer-block {
  width: 320px;
  float: left;
}

#footer .footer-block .region {
  padding: 20px 10px;
}


/* pager */

.item-list .pager li {
  margin: 0 0 0.25em 0;
  padding: 0.3em;
}

.pager-item, .pager-current {
  font-weight: 700;
  border: 1px solid #aaa;
}

.pager li a {
  text-decoration: none;
  padding: 0;
  color: inherit;
}

.pager-current {
  background-color: #777;
  color: #ededed;
}

