
/* Leave a trail for javascript */
body:after {
  content: 'phone';
  display: none;
}

@media screen and (min-width: 480px) {
    
  /* Leave a trail for javascript */
    body:after {
    content: 'tablet';
    display: none;
  } 
} 

@media screen and (min-width: 768px)  {

  /* Leave a trail for javascript */
  body:after {
    content: 'desktop';
    display: none;
  } 
}

@media screen and (min-width: 960px) {
  
  /* Leave a trail for javascript */
  body:after {
    content: 'widescreen';
    display: none;
  } 
}

@media screen and (min-width: 1140px) {
  
  /* Leave a trail for javascript */
  body:after {
    content: 'unlimited';
    display: none;
  } 
}




/* Responsive indicator */

#responsive-indicator {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: fixed;
  font-size: 14px;
  z-index: 200;
  padding: 0.25em 0.5em;
  background-color: rgba(51,51,51,0.8);
  display: block;
  border-radius: 0.5em;
  outline: 0;
  color: #ddd;
  height: 3em;
}

#responsive-indicator {
  bottom: .5em;
  left: .5em;
}

#responsive-indicator span{
  display: none;
}

/**
 * These spans added to the page by js/breakpoint.js */
 
 @media screen and (min-width: 320px) {
  #responsive-indicator span.min-320 {display: block }
}

@media screen and (min-width: 480px) {
  #responsive-indicator span.min-480 {display: block }
  #responsive-indicator span.min-320 {display: none }
}

@media screen and (min-width: 600px) {
  #responsive-indicator span.min-600 {display: block }
  #responsive-indicator span.min-480 {display: none }
}

@media screen and (min-width: 768px) {
  #responsive-indicator span.min-768 {display: block }
  #responsive-indicator span.min-600 {display: none }
}

@media screen and (min-width: 800px) {
  #responsive-indicator span.min-800 {display: block }
  #responsive-indicator span.min-768 {display: none }
}

@media screen and (min-width: 960px) {
  #responsive-indicator span.min-960 {display: block }
  #responsive-indicator span.min-800 {display: none }
}

@media screen and (min-width: 1140px) {
  #responsive-indicator span.min-1140 {display: block }
  #responsive-indicator span.min-960 {display: none }
}

