/* Grid and toggle styles */

body {
  width: 100%;
  height: 100%;
}

#mcbase-grid {
  position: fixed;
  left: 50%;
  height: 100%;
  background: transparent url(graphics/grid/grid-dark.png) repeat-y center top;
}

img#mcbase-grid {
z-index: 99;
}

/* 1140 */
#mcbase-grid {
  margin-left: -570px;
  width: 1140px;
}

@media screen and (max-width: 1140px) {
  img#mcbase-grid {
    margin-left: 0;
    left: 0;
    width: 100%;
    background-size: contain;
  }
}

/* 960 */

/*
#mcbase-grid {
  margin-left: -480px;
  width: 960px;
}

@media screen and (max-width: 960px) {
  img#mcbase-grid {
    margin-left: 0;
    left: 0;
    width: 100%;
    background-size: contain;
  }
}
*/


#mcbase-grid.dark {
background-image: url(graphics/grid/grid-dark.png);
}

#mcbase-grid.light {
background-image: url(graphics/grid/grid-light.png);
}

#mcbase-grid.grid-disabled {
  display: none;
}

#mcbase-grid.grid-enabled {
  display: block;
}

#mcbase-grid-toggle {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  position: fixed;
  z-index: 200;
  padding: 0.25em 0.5em;
  background-color: rgba(51,51,51,0.8);
  display: block;
  border-radius: 0.5em;
  border: 1px solid rgba(255,255,255,0.3);
  outline: 0;
  color: #eee;
}

#mcbase-grid-toggle {
  bottom: 2em;
  right: 0.5em;
}

#mcbase-grid-toggle.grid-enabled {
  text-decoration: none;
  opacity: 1;
}

#mcbase-grid-toggle.grid-disabled {
  text-decoration: none;
  opacity: 0.6;
}

