/*
  !Variables
------------------------------------------------------*/
/* Responsive indicator */
#responsive-indicator {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.3em;
  height: 80px;
  position: fixed;
  z-index: 600;
  padding: 0.25em 0.5em;
  background-color: rgba(51, 51, 51, 0.8);
  display: block;
  border-radius: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
  color: #ddd; }

#responsive-indicator {
  bottom: .5em;
  left: .5em; }

#responsive-indicator span {
  display: none; }

/**
 * These spans added to the page by js/breakpoint.js */
@media screen and (min-width: 320px) {
  #responsive-indicator span.min-320 {
    display: block; } }

@media screen and (min-width: 480px) {
  #responsive-indicator span.min-480 {
    display: block; }
  #responsive-indicator span.min-320 {
    display: none; } }

@media screen and (min-width: 600px) {
  #responsive-indicator span.min-600 {
    display: block; }
  #responsive-indicator span.min-480 {
    display: none; } }

@media screen and (min-width: 768px) {
  #responsive-indicator span.min-768 {
    display: block; }
  #responsive-indicator span.min-600 {
    display: none; } }

@media screen and (min-width: 800px) {
  #responsive-indicator span.min-800 {
    display: block; }
  #responsive-indicator span.min-768 {
    display: none; } }

@media screen and (min-width: 960px) {
  #responsive-indicator span.min-960 {
    display: block; }
  #responsive-indicator span.min-800 {
    display: none; } }

@media screen and (min-width: 1140px) {
  #responsive-indicator span.min-1140 {
    display: block; }
  #responsive-indicator span.min-960 {
    display: none; } }
