/*
  !Variables
------------------------------------------------------*/
/* !Mixins
  ------------------------------------------------------ */
.final-footer {
  *zoom: 1; }
  .final-footer:before, .final-footer:after {
    content: " ";
    display: table; }
  .final-footer:after {
    clear: both; }

/* Key Frames */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Navigation
-------------------------------------------*/
/* Colours  */
#navigation {
  background-color: #222; }

/* Search form */
#navigation .limiter {
  position: relative; }

#navigation #block-search-form {
  position: absolute;
  padding-bottom: 1px;
  top: 5px;
  right: 5px;
  margin-bottom: 0;
  z-index: 12; }

#navigation #search-block-form {
  border: 0;
  background-color: #fff;
  padding: 0;
  border-radius: 0;
  width: 13em; }
  #navigation #search-block-form input {
    padding: 0.1em 0.3em 0; }

#mainmenu {
  z-index: 10; }
  #mainmenu h2 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); }

#mainmenu .breadcrumb {
  padding: 10px 20px; }

/* Menu styling (mobile first)
------------------------------------------------- */
#mainmenu {
  position: relative;
  margin: 0;
  /* First level */
  /* Second level */
  /*  Third level no thank you */ }
  #mainmenu ul li a {
    padding: 0.833em;
    color: #fff; }
  #mainmenu > ul {
    background-color: #222; }
    #mainmenu > ul > li:not(:last-child) > a {
      border-right: 1px solid #444; }
    #mainmenu > ul > li:hover > a,
    #mainmenu > ul:not(:hover) > li.active > a {
      background-color: #444; }
  #mainmenu li ul {
    background-color: #444; }
    #mainmenu li ul a {
      border-top: 1px solid #777;
      padding: 0.75em;
      padding-left: 2em; }
    #mainmenu li ul li a:hover,
    #mainmenu li ul:not(:hover) li.active a {
      background-color: #222; }
    #mainmenu li ul > li:not(:last-child) > a {
      border-right: none;
      border-bottom: 1px solid border; }
  #mainmenu > ul > li > ul > li > ul {
    display: none !important; }

/* generate a CSS button with pseudo elements to replace hide/show dropmenu */
#mainmenu > a {
  width: 3em;
  height: 39px;
  margin: 0;
  position: relative;
  text-align: left;
  text-indent: -9999px;
  background-color: #222; }
  #mainmenu > a:before, #mainmenu > a:after {
    position: absolute;
    border-top: 3px solid #fff;
    left: 20%;
    right: 20%;
    content: ''; }
  #mainmenu > a:before {
    top: 10px;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    content: ''; }
  #mainmenu > a:after {
    top: 26px; }

/* engineering the dropdown (mobile first)
------------------------------------------------- */
#mainmenu > a {
  display: none; }

/* show the switch */
#mainmenu:not(:target) > a:first-of-type,
#mainmenu:target > a:last-of-type {
  display: block; }

/* first level */
#mainmenu > ul {
  height: auto;
  display: none;
  position: absolute;
  left: 0;
  right: 0; }

#mainmenu:target > ul {
  display: block; }

#mainmenu li {
  position: relative; }

#mainmenu li a {
  display: block; }

#mainmenu > ul > li > a {
  height: 100%; }

#mainmenu li:hover ul {
  display: block;
  left: 0;
  right: 0; }

#mainmenu li:not(:first-child):hover ul {
  left: -1px; }

/* second level */
#mainmenu li ul {
  display: none;
  position: static;
  padding: 0 0 1px; }

/* Full horizontal and dropdown on larger screens
------------------------------------------------- */
@media only screen and (min-width: 60em) {
  #mainmenu {
    margin-right: 210px; }
  #navigation #block-search-form {
    top: 10px;
    right: 10px; }
  #mainmenu > ul {
    display: block;
    position: static;
    float: left; }
    #mainmenu > ul:after {
      content: "";
      display: table;
      clear: both; }
  /* hide the switch */
  #mainmenu:not(:target) > a:first-of-type,
  #mainmenu:target > a:last-of-type {
    display: none; }
  #mainmenu li ul {
    display: none;
    position: absolute;
    top: 100%; }
  #mainmenu > ul > li {
    width: auto;
    height: 100%;
    float: left; }
  #mainmenu > ul > li > a {
    text-align: center; }
  #mainmenu li:hover ul {
    display: block;
    left: 0;
    right: 0; }
  #mainmenu li:not(:first-child):hover ul {
    left: -1px; } }

/*

// generate a CSS pop-down arrow (requires a span)
#mainmenu span:after {
width: 0;
height: 0;
border: 0.313em solid transparent;
border-bottom: none;
border-top-color: #efa585;
content: '';
vertical-align: middle;
display: inline-block;
position: relative;
right: -0.313em;
}
*/
input, select, textarea, body {
  font-family: 'Source Sans Pro', 'Open Sans', 'Lucida Grande', Arial, sans-serif;
  color: #333;
  background-color: #fff; }

@media screen and (min-width: 70em) {
  .limiter {
    width: 70em; } }

/* Typography base
-------------------------------------------*/
/**
 * Appropriate line-height is to some extent dependent on
 * font size and x height.
 *
 * Override the default 1.475em here if required
 */
#content .node {
  line-height: 1.475em; }

.node {
  /* Standard preset for Term and Definition lists */ }
  .node pre, .node blockquote, .node div.codeblock {
    line-height: 1.475em; }
  .node p, .node ul, .node ol, .node dl, .node pre, .node div.codeblock, .node blockquote {
    margin: 0px 0px 1.475em;
    /* margin: 0px 0px .875em;  */ }
  .node dl {
    margin-left: 140px; }
    .node dl:after {
      content: "";
      display: table;
      clear: both; }
    .node dl dt {
      font-weight: 700;
      float: left;
      clear: left;
      width: 130px;
      margin: 0 0 1em -140px; }
      .node dl dt:after {
        content: ":"; }
    .node dl dd {
      float: left;
      margin: 0 0 1em 0;
      display: block; }

strong {
  font-weight: 700; }

img {
  height: auto;
  display: block; }

/* Page
-------------------------------------------*/
.page-wrapper {
  background-color: transparent; }

.main-wrapper {
  background-color: transparent; }

.block {
  margin-bottom: 20px; }

/* Header
-------------------------------------------*/
@media screen and (min-width: 32em) {
  .region-header-first {
    width: 50%;
    float: left; }
  .region-header-second {
    width: 50%;
    float: right; } }

/* User menu */
#block-system-user-menu {
  margin-bottom: 0; }
  #block-system-user-menu .content {
    text-align: right; }
    #block-system-user-menu .content ul.menu {
      padding: 0;
      display: inline;
      text-align: right; }
    #block-system-user-menu .content li {
      display: inline;
      float: none;
      text-align: right;
      border-right: 1px solid #333;
      margin: 0 5px 0 0;
      padding: 0 7px 0 0;
      font-size: 0.85em; }
      #block-system-user-menu .content li:last-child {
        border-right: 0;
        margin: 0;
        padding: 0; }
      #block-system-user-menu .content li a {
        display: inline;
        float: none;
        text-decoration: none; }

/* Branding
-------------------------------------------*/
.logo {
  width: 20%;
  display: block;
  margin: 0 auto; }
  .logo img {
    width: 100%; }

/* Content theming
-------------------------------------------*/
#main .section {
  padding: 50px 0; }

.region, #page-title {
  margin: 0 10px;
  /*   border: 1px dotted #0dd; */ }

.node #page-title {
  margin: 0 0 0.475em; }

#frontpage .node-page-page {
  margin: 0; }

div.node-content {
  margin-bottom: 20px; }

.submitted {
  font-style: italic; }

/* forms */
div.node-webform-page form {
  padding: 10px;
  background-color: #ddebf3; }

/* Images */
img.full-width {
  display: block;
  float: none;
  margin: 0 auto 10px; }

img.half-width-left {
  float: left;
  margin: 0 10px 10px 0; }

img.half-width-right {
  float: right;
  margin: 0 0 10px 10px; }

div.status {
  background-color: #fff; }

/* Registration */
#user-register .form-item {
  padding: 5px;
  background-color: #efefef;
  margin-bottom: 5px; }
  #user-register .form-item .form-item {
    padding: 0;
    margin: 0; }

/* Default floating Views
-------------------------------------------*/
.item-list-wrapper {
  display: table;
  margin: 0 auto;
  *zoom: 1; }
  .item-list-wrapper:before, .item-list-wrapper:after {
    content: " ";
    display: table; }
  .item-list-wrapper:after {
    clear: both; }

.item-list {
  margin: 0 0 20px 0;
  padding: 0;
  float: none; }
  .item-list .item {
    float: none;
    margin: 0 1% 20px 1%;
    padding: 0;
    position: relative; }
    .item-list .item .item-edit {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 3px;
      float: right; }

@media screen and (min-width: 32em) {
  .item-list {
    float: left; }
    .item-list:after {
      content: "";
      display: table;
      clear: both; }
    .item-list .item {
      float: left;
      width: 46%; }
      .item-list .item:last-child:after {
        content: "";
        display: table;
        clear: both; } }

@media screen and (min-width: 50em) {
  .item-list .item {
    width: 31%; } }

@media screen and (min-width: 70em) {
  .item-list .item {
    float: left;
    width: 22%; } }

/* !Default Views Slideshow (Jquery Cycle)
-------------------------------------------*/
.views_slideshow_main,
.views-slideshow-cycle-main-frame,
.views-slideshow-cycle-main-frame-row,
.views-slideshow-cycle-main-frame-row-item {
  margin: 0 auto;
  width: 100% !important; }

.views_slideshow_main .views-slideshow-cycle-main-frame-row-item {
  overflow: hidden;
  position: relative; }
  .views_slideshow_main .views-slideshow-cycle-main-frame-row-item img {
    width: 100%; }
    @media screen and (max-width: 800px) {
      .views_slideshow_main .views-slideshow-cycle-main-frame-row-item img {
        min-width: 800px;
        margin-left: 50%;
        transform: translateX(-50%); } }

/* Sidebar First
-------------------------------------------*/
/* Sidebar Second
-------------------------------------------*/
/* Footer
-------------------------------------------*/
/* sticky footer */
.page-wrapper {
  position: relative;
  padding-bottom: 20em; }
  .page-wrapper .page-footer {
    height: 20em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
    .page-wrapper .page-footer .limiter {
      position: static; }

.page-footer {
  background-color: #222; }
  .page-footer .limiter {
    padding: 50px 0;
    position: static; }

body .page-footer {
  color: #eee; }
  body .page-footer a {
    color: inherit; }

.final-footer {
  margin-bottom: 20px; }
  .final-footer p {
    margin-bottom: 1.475em; }
