/**
 * Form buttons
 *
 *
 */

a.button {
  background-color: #eeedbb;
  border: 1px solid #eeedbb;
  padding: 4px 12px 5px;
  margin: 10px 5px 10px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: rgba(255, 255, 255, 1) 0 -1px 2px;
  font-weight: normal;
  text-decoration: none;
  color: #222;
}

input {
  &.form-submit, &.teaser-button, &[type=button] {
    background-color: #eeedbb;
    border: 1px solid #eeedbb;
    padding: 4px 12px 5px;
    margin: 10px 5px 10px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    text-shadow: rgba(255, 255, 255, 1) 0 -1px 2px;
    font-weight: normal;
    text-decoration: none;
    color: #222;
  }
  &[disabled] {
    background-color: #ededed;
    border: 1px solid #ededed;
  }
}

/* Views uses little buttons in some of its dialogues */

#views-ajax-pad .form-buttons .form-submit {
  font-size: 0.8em;
  padding: 2px 5px;
}

input {
  &#edit-preview {
    border-color: #98e893;
  }
  &#edit-delete, &#edit-remove {
    border-color: #f54857;
  }
  &#edit-cancel {
    border-color: #ddd;
  }
}

a.button:hover {
  border: 1px solid #eeedbb;
  color: #000;
}

input {
  &.form-submit:hover, &.teaser-button:hover, &[type=button]:hover, &#edit-preview:hover, &#edit-delete:hover {
    border: 1px solid #eeedbb;
    color: #000;
  }
}

a.button:active {
  border: 1px solid #eeedbb;
  color: #000;
}

input {
  &.form-submit:active, &.teaser-button:active, &[type=button]:active, &#edit-preview:active, &#edit-delete:active {
    border: 1px solid #eeedbb;
    color: #000;
  }
  &[disabled]:hover {
    background-color: #ededed;
    border: 1px solid #ededed;
    color: #666;
  }
}
