/* Navigation
-------------------------------------------*/

#mainmenu {
  h2 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
  }
}

#mainmenu .breadcrumb { 
  padding: 10px 20px;
}

/* Colours 
------------------------------------------------- */

$background: #777;
$background-two: #444;
$background-three: #777;

$border: #444;
$border-two: #777;
$border-three: #777;

$foreground: #fff;
$foreground-two: #fff;
$foreground-three: #fff;



/* responsive dropdown appearance 
------------------------------------------------- */

#mainmenu {
    
  position: relative;
  
  ul li a {
  	padding: 0.833em;
  	color: $foreground;
  }
  
  /* First level */
  > ul {
		background-color: $background;
		> li:not( :last-child ) > a {
		  border-right: 1px solid $border;
	  }
  	> li:hover > a,
  	&:not( :hover ) > li.active > a {
  		background-color: $background-two;
  	}
	}
  
  /* Second level */
  li ul {
  background-color: $background-two;
  a {
  	border-top: 1px solid $border-two;
  	padding: 0.75em;
  	padding-left: 2em; 
    }
  li a:hover,
	&:not( :hover ) li.active a {
		background-color: $background;
	  }
  > li:not( :last-child ) > a {
	  border-right: none;
    border-bottom: 1px solid border;
    }
  }
}
	
/* generate a CSS button to replace hide/show dropmenu */

#mainmenu > a {
		width: 3em;
		height: 39px;
		text-align: left;
		text-indent: -9999px;
		background-color: #777;
		position: relative;
		&:before,
		&:after {
  		position: absolute;
  		border-top: 3px solid #fff;
  		left: 20%;
  		right: 20%;
  		content: '';
	  }
	
		&:before {
  		top: 10px;
  		border-bottom: 3px solid #fff;
  		padding-bottom: 5px;
  		content: '';
    }
      &:after {
		top: 26px;
	}
}


/* engineering the dropdown
------------------------------------------------- */


#mainmenu > a {
	display: none;
}

/* show the switch */
#mainmenu:not( :target ) > a:first-of-type,
#mainmenu:target > a:last-of-type {
	display: block;
}

/* first level */

#mainmenu > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}

#mainmenu:target > ul {
	display: block;
}

#mainmenu li {
	position: relative;
}

#mainmenu li a {
	display: block;
}

#mainmenu > ul > li > a {
  height: 100%;
}

#mainmenu li:hover ul {
	display: block;
	left: 0;
	right: 0;
}

#mainmenu li:not( :first-child ):hover ul {
	left: -1px;
}
			
/* second level */

#mainmenu li ul {
  display: none;
	position: static;
	padding: 0 0 1px;

}

/* Full horizontal dropdown on larger screens
------------------------------------------------- */


@media only screen and ( min-width: 40em ) {
  
  #mainmenu > ul{
    display: block;
  }
  
  /* hide the switch */
  
  #mainmenu:not( :target ) > a:first-of-type,
  #mainmenu:target > a:last-of-type {
  	display: none;
  }
  
  #mainmenu li ul {
		display: none;
		position: absolute;
		top: 100%;
	}


  #mainmenu > ul > li {
	width: 25%;
	height: 100%;
	float: left;
  }

	#mainmenu > ul > li > a {
		text-align: center;
	}

  #mainmenu li:hover ul {
		display: block;
		left: 0;
		right: 0;
	}
  #mainmenu li:not( :first-child ):hover ul {
		left: -1px;
  }
}
  
  #mainmenu {
    height: 3em;
    margin-bottom: 20px;
  }
  .branding {
    clear: left;
  }
	
/*

// generate a CSS pop-down arrow (requires a span)
#mainmenu span:after {
width: 0;
height: 0;
border: 0.313em solid transparent;
border-bottom: none;
border-top-color: #efa585;
content: '';
vertical-align: middle;
display: inline-block;
position: relative;
right: -0.313em; 
}
*/