/*
Responsive Design
------------------------------------------------------*/

/* Leave a trail for javascript */

body:after {
  content: 'unlimited';
  display: none;
}

#page-wrapper, #page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-first #content .section {
  margin-left: 33%;
  /* LEFT value */
}

.sidebar-second #content .section {
  margin-right: 33%;
  /* RIGHT value */
}

.two-sidebars #content .section {
  margin-left: 33%;
  /* LEFT value */
  margin-right: 33%;
  /* RIGHT value */
}

#sidebar-first {
  width: 33%;
  /* LEFT value */
  margin-right: -33%;
  /* negative LEFT value */
  margin-left: 0;
}

#sidebar-second {
  width: 33%;
  /* RIGHT value */
  margin-left: -33%;
  /* negative RIGHT value */
  float: right;
  margin-right: 0;
}

.limiter {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1140px) {
  body:after {
    content: 'widescreen';
    display: none;
  }
}

@media screen and (max-width: 960px) {
  /* Leave a trail for javascript */
  body:after {
    content: 'standard';
    display: none;
  }
  /* scale columns 
   * 
   * If the limiter is not defining the outside margin as well
   * as the page border, it should be 100%.
   *
  */
  .limiter {
    width: 100%;
  }
  #highlighted .limiter {
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  /* Leave a trail for javascript */
  body:after {
    content: 'tablet';
    display: none;
  }
  #page-wrapper {
    width: 100%;
    overflow: hidden;
  }
  /* Drop the left sidebar down */
  .two-sidebars #content .section, .sidebar-first #content .section {
    margin-left: 0;
  }
  #sidebar-first {
    width: 100%;
    clear: both;
    float: none;
  }
  /* Drop the right sidebar down */
 /*
 .two-sidebars #content .section,
  .sidebar-second #content .section {
    margin-right: 0;   
  }

  #sidebar-second {
    width: 100%;
    clear: both;
    float: none;
  }
*/
  /*
    #sidebar-second .block {
      width: 48%;
      float: left;
    }
  */
  #site-slogan {
    margin: 0;
  }
  #highlighted! img {}
}

@media screen and (max-width: 480px) {
  /* Leave a trail for javascript */
  body:after {
    content: 'phone';
    display: none;
  }
  #page-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  /* One column */
  #main-menu li {
    float: none;
    display: block;
    a {
      float: none;
      display: block;
      padding: 5px 10px 6px 48px;
      font-size: 1em;
    }
  }
  .two-sidebars #content .section, .sidebar-first #content .section {
    margin-left: 0;
  }
  #sidebar-first, #sidebar-second, #content {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    clear: both;
    float: none;
  }
  .sidebar-first #content .section {
    margin-left: 0;
  }
  .sidebar-second #content .section {
    margin-right: 0;
  }
  .no-sidebars {
    #content .region-content {
      margin: 0 10px;
    }
    h1, #page-title {
      margin-left: 10px;
    }
  }
  /* Phone menu */
  #navigation {
    position: relative;
    border-top: 1px solid #ddd;
    .phone-navigation! {}
    h2.menu-title {
      z-index: 1;
      right: 10px;
      position: absolute;
    }
  }
  #menu-toggle {
    clip: inherit !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #cc1111 url(graphics/mainmenu-popdown-arrow.png) no-repeat center bottom;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 5px 23px;
    top: -10px;
    font-size: 0.8em;
    -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
  }
  #navigation .limiter {
    height: auto;
    overflow: hidden;
  }
  .main-menu {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hidden-menu {
    margin-top: -33em !important;
  }
  .region-footer {
    padding: 0 10px;
  }
  #footer-first, #footer-second, #footer-third {
    margin: 0 10px 20px 10px;
    width: auto;
    float: none;
  }
}