/**
 * Drupal vs Sass
 *
 * Drupal includes a bunch of CSS files via the theme.info file.
 * This is useful when debugging, because recalcitrant CSS can be
 * easily tracked to the guilty file during development.
 * 
 * SASS imports are cool but less easily diagnosed when there's trouble,
 * because they're all compiled together, meaning it's difficult to spot
 * the bad boys.
 *
 * Which just means you're gonna haffta copy the variable values below
 * wherever you need them. SASS know nuffink.
 * 
 * See layout.scss, breakpoints.css etc
 *
 */

$phone: 30em;       /* 480px */
$tablet: 50em;      /* 800px */
$desktop: 60em;     /* 960px */
$widescreen: 70em;  /* 1120px */

@import 'mixins';
@import 'buttons';
@import 'social-icons';
@import 'navigation';


input, select, textarea, body {
  font-family: 'Source Sans Pro', 'Open Sans', 'Lucida Grande', Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

@media screen and (min-width: $widescreen) {
  .limiter {
    width: $widescreen;
  }
}

/* Typography base 
-------------------------------------------*/

/**
 * Appropriate line-height is to some extent dependent on
 * font size and x height.
 * 
 * Override the default 1.475em here if required
 */

#content .node {
  line-height: 1.475em;
}

.node {
  pre, blockquote, div.codeblock {
    line-height: 1.475em;
  }
  p, ul, ol, dl, pre, div.codeblock, blockquote {
    margin: 0px 0px 1.475em;
    /* margin: 0px 0px .875em;  */
  }
  
  /* Standard preset for Term and Definition lists */

 dl {
  width: 360px;
  margin-left: 140px;
  &:after {
    content: "";
    display: table;
    clear: both;  
    }
  dt {
    font-weight: 700;
    float: left;
    clear: left;
    width: 130px;
    margin: 0 0 1em -140px;
    }
  &:after { content: ":";}
  dd {
    float: left;
    margin: 0 0 1em 0;
    display: block;
    width: 360px;
    }
  }
}

strong { font-weight: 700; }

img { height: auto; display: block; }


/* Page 
-------------------------------------------*/

.page-wrapper {
  background-color: transparent;
}

.main-wrapper {
  background-color: transparent;
}

.block {
  margin-bottom: 20px;
}

/* Header 
-------------------------------------------*/


.region-header-first {
  width: 50%;
  float: left;
}

.region-header-second {
  width: 50%;
  float: right;
}

.header {
  .block-menu {
    float: left;
    margin: 0 0 10px;
  }
  #search-block-form {
    float: right;
  }
}

/* Branding
-------------------------------------------*/

/* User menu */

#block-system-user-menu .content {
  text-align: right;
  ul.menu {
    padding: 0;
    display: inline;
    text-align: right;
  }
  li {
    display: inline;
    float: none;
    text-align: right;
    border-right: 1px solid #333;
    margin: 0 5px 0 0;
    padding: 0 7px 0 0;
    font-size: 0.85em;
    &:last-child {
      border-right: 0;
      margin: 0;
      padding: 0;
    }
    a {
      display: inline;
      float: none;
      text-decoration: none;
    }
  }
}

.logo {
  width: 65%;
  display: block;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

/* Content theming 
-------------------------------------------*/

#main .section {
  padding: 50px 0;
}

.region, #page-title { 
  margin: 0 10px;
  /*   border: 1px dotted #0dd; */
}

#frontpage .node-page-page {
  margin: 0;
}

div.node-content {
  margin-bottom: 20px;
}

h1.page-title {
  margin: 20px 0 0.5em 0;
}

.submitted {
  font-style: italic;
}

/* forms */

div.node-webform-page form {
  padding: 10px;
  background-color: #ddebf3;
}

/* Images */

img {
  &.full-width {
    display: block;
    float: none;
    margin: 0 auto 10px;
  }
  &.half-width-left {
    float: left;
    margin: 0 10px 10px 0;
  }
  &.half-width-right {
    float: right;
    margin: 0 0 10px 10px;
  }
}

div.status {
  background-color: #fff;
}

/* Registration */

#user-register .form-item {
  padding: 5px;
  background-color: #efefef;
  margin-bottom: 5px;
  .form-item {
    padding: 0;
    margin: 0;
  }
}

/* Default floating Views 
-------------------------------------------*/

.item-list-wrapper {
  display: table;
  margin: 0 auto;
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
 .item-list {
    margin: 0 0 20px 0;
    padding: 0;
    float: left;
    .item {
      float: left;
      width:31%;
      margin: 0 1% 20px 1%;
      padding: 0;
      .item-edit {
         position: absolute;
         bottom: 0;
         right: 0;
         padding: 3px;
         float: right;
      }
    }
  }
}


/* Sidebar First
-------------------------------------------*/

/* Sidebar Second
-------------------------------------------*/

/* Footer
-------------------------------------------*/

#footer .region {
  margin: 50px 0;
}