/* !Buttons
  ------------------------------------------------------ */

.basic-button {
  background-color: #aaa;
  border-color: #aaa;
  color: #222;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 2px;
  padding: 4px 12px 5px;
  margin: 10px 5px 10px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    background: #777;
    border: 1px solid #777;
    color: #eee;
    text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 2px;
  }
  &:active {
    background: #222;
    border-color: #222;
    color: #eee;
    text-shadow: rgba(255, 255, 255, 0.8) 0 -1px 2px;
  }
}

a.button {
  @extend .basic-button;
}

input {
  &.form-submit, &.teaser-button, &[type=button] {
    @extend .basic-button;
  }
  &[disabled],  &[disabled]:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: #777;

  }

}

/* Views uses little buttons in some of its dialogues */

#views-ajax-pad .form-buttons .form-submit {
  font-size: 0.8em;
  padding: 2px 5px;
}

/* These are probably defunct but I'll leave them here for now */
input {
  &#edit-preview { }
  &#edit-delete, &#edit-remove { }
  &#edit-cancel { }
}

